/* 6つのp要素に適用するスタイルを宣言 */
.white {
    color: white;
}
.back-blue{
    background-color: blue;
}
.yellow{
    color: yellow;
}
.red{
    color:red;
}
/* 6つのli要素に適用するスタイルを宣言 */
.font16px{
    font-size:0.75em;
}
.font12px{
    font-size:0.5em;
}
.back-gray{
    background-color: gray;
}
.back-green{
    background-color: green;
}
.back-brawn{
    background-color: brown;
}
.blue{
    color:blue
}